@import 'assets/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-white;
  color: $text-dark;
  font-family: "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
} 